.char-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .dev-head img .char-icon {
    width: 10%;
    height: auto;
  }
}

@media (min-width: 576px) {
  .char-icon {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 300px) {
  .container, .char-icon {
    width: 60%;
  }
}

@media (min-width: 593px) {
  .left-head {
    display: none;
  }
}

@media (max-width: 592px) {
  .right-head {
    display: none;
  }
}

.char-icon img {
  margin: 0;
  width: 60%;
  height: auto;
}

.chat-left {
  padding-left: 0;
}

.card, .chat-box {
  --bs-body-bg: var(--bs-secondary-bg-subtle);
  margin-top: 8px;
  border-radius: 25px;
  text-align: left;
  border-width: 3px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .zen-ouch {
    margin-top: 10px;
  }
}

.head img {
  max-width: 150px;
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .char-icon img {
    width: 100%;
  }
}

/* Small Chat */

.small-chat strong {
  color: var(--bs-info);
}

.small-chat img {
  width: 32px;
}

