@media (max-width: 1200px) {
  .dev-head div .rediv {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .rediv {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .rediv {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .banner {
    width: 720px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .banner {
    width: 70%;
  }
}

@media (min-width: 576px) {
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.white-icon {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(1000%);
}

.rediv {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
}

.flip-x {
  transform: scaleX(-1);
}

