@media (max-width: 1200px) {
  .dev-head img .char-icon {
    width: 10%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .dev-head div .rediv {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .rediv {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .rediv {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 94%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 300px) {
  .container, .char-icon {
    width: 60%;
  }
}

@media (max-width: 300px) {
  .char-icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 576px) {
  .char-icon {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 500px) {
  .left-head {
    display: none;
  }
}

@media (max-width: 500px) {
  .right-head {
    display: none;
  }
}

@media (min-width: 768px) {
  .banner {
    width: 720px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 70%;
  }
}

@media (min-width: 576px) {
  header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 500px) {
  .left-head {
    display: none;
  }
}

